export(icarm_fit)
export(icarm_split)
export(icarm_metrics)
export(icarm_thresholds)
export(icarm_explain)
export(icarm_explain_local)
export(icarm_fairness)
export(icarm_equity_summary)
export(icarm_equalized_odds_curve)
export(icarm_calibrate)
export(icarm_compare)
export(icarm_audit)
export(icarm_scorecard)
export(icarm_plot_importance)
export(icarm_plot_fairness)
export(icarm_plot_confusion)
export(icarm_plot_calibration)
export(icarm_plot_thresholds)
export(icarm_plot_comparison)
export(icarm_plot_roc_groups)

S3method(print,   icarm_model)
S3method(summary, icarm_model)
S3method(predict, icarm_model)
S3method(print,   icarm_explainer)
S3method(print,   icarm_fairness)
S3method(print,   icarm_calibration)
S3method(print,   icarm_comparison)

